In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier

import warnings
warnings.filterwarnings("ignore")

In [45]:
df = pd.read_excel('game.xlsx')

In [46]:
df.head()

   Days Outlook Temprature  Routine Wear Jacket?
0     1   Sunny       Cold   Indoor           No
1     2  Cloudy       Cold   Indoor          Yes
2     3  Cloudy       Warm  Outdoor           No
3     4   Sunny       Cold  Outdoor          Yes
4     5  Cloudy       Cold  Outdoor          Yes

In [47]:
df.drop('Days',axis=1,inplace=True)

In [48]:
df.head(10)

  Outlook Temprature  Routine Wear Jacket?
0   Sunny       Cold   Indoor           No
1  Cloudy       Cold   Indoor          Yes
2  Cloudy       Warm  Outdoor           No
3   Sunny       Cold  Outdoor          Yes
4  Cloudy       Cold  Outdoor          Yes
5   Sunny       Warm  Outdoor           No
6  Cloudy       Warm   Indoor           No
7   Sunny       Warm   Indoor           No

In [50]:
x = df.copy()
x.drop('Wear Jacket?', axis=1, inplace=True)

In [51]:
x.head()

  Outlook Temprature  Routine
0   Sunny       Cold   Indoor
1  Cloudy       Cold   Indoor
2  Cloudy       Warm  Outdoor
3   Sunny       Cold  Outdoor
4  Cloudy       Cold  Outdoor

In [52]:
df.head()

  Outlook Temprature  Routine Wear Jacket?
0   Sunny       Cold   Indoor           No
1  Cloudy       Cold   Indoor          Yes
2  Cloudy       Warm  Outdoor           No
3   Sunny       Cold  Outdoor          Yes
4  Cloudy       Cold  Outdoor          Yes

In [53]:
y = df[['Wear Jacket?']]

In [54]:
y.head()

  Wear Jacket?
0           No
1          Yes
2           No
3          Yes
4          Yes

In [55]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [58]:
from pandas.api.types import is_numeric_dtype

In [60]:
for col in x.columns:
    if is_numeric_dtype(x[col]):
        continue
    else:
        x[col] = le.fit_transform(x[col])

In [61]:
x.head()

   Outlook  Temprature  Routine
0        1           0        0
1        0           0        0
2        0           1        1
3        1           0        1
4        0           0        1

In [62]:
#sunny>>>>1 cloudy 0
#cold>>>0 warm>>1
#Indoor>>0 Outdoor>>1

In [64]:
clf = DecisionTreeClassifier()

In [65]:
clf.fit(x,y)

DecisionTreeClassifier()

In [66]:
clf.predict([[0,0,0]])

array(['Yes'], dtype=object)

In [67]:
clf.predict([[0,0,1]])

array(['Yes'], dtype=object)

In [68]:
clf.predict([[1,0,0]])

array(['No'], dtype=object)

In [69]:
clf.predict([[1,1,0]])

array(['No'], dtype=object)